export const constraint_param_index = {
{%- for constraint in fn_constraints %}
    {{ constraint.constraint_type }}: {
        {%- for param in constraint.non_opt_params -%}
            {% if param.type == 'double*' %}
            {{ param.identifier }}: 'object_param',
            {%- elif param.type in ['double', 'int', 'bool', 'InternalAlignmentType'] %}
            {{ param.identifier }}: 'primitive',
            {%- else %} {# object (Line, Parabola, Point, ...) #}
            {{ param.identifier | replace('&', '') }}: 'object_id', 
            {%- endif %}
        {%- endfor %}
    },
{%- endfor %}
}
