export type oid = number;

interface Id {
    id: oid;
}

interface ObjectParam {
    o_id: oid;
    o_i: number;
}
{% for enum in enums %}
enum {{ enum.name }} {
    {% for val in enum.values -%}
    {{ val.name }} = {{ val.value }},
    {% endfor %}
}
{% endfor -%}

{% for item in fn_constraints %}
export interface {{ item.constraint_name }} extends Id {
    type: '{{ item.constraint_type }}';
{%- for param in item.non_opt_params -%}
    {% if param.type == 'double*' %}
    {{ param.identifier }}: ObjectParam|number|string;
    {%- elif param.type in ['double', 'int'] %}
    {{ param.identifier }}: number;
    {%- elif param.type == 'bool' %}
    {{ param.identifier }}: boolean;
    {%- elif param.type == 'InternalAlignmentType' %}
    {{ param.identifier }}: InternalAlignmentType;
    {%- else %} {# object (Line, Parabola, Point, ...) #}
    {{ param.identifier | replace('&', '') }}_id: oid; // {{ param.type }}
    {%- endif %}
{%- endfor %}
    driving?: boolean;
}
{% endfor %}

export type Constraint = {% for item in fn_constraints %}{{ item.constraint_name }}{%- if not loop.last %} | {% endif %}{% endfor %};