import type { 
    GcsSystem,IntVector,DoubleVector,
    {% for cls in geom_classes -%}
    {{ cls.name }},
    {%- endfor %}
    {% for enum in enums -%}
    {{ enum.name }},
    {%- endfor %}
} from "./planegcs";

export class NumberVector implements IntVector, DoubleVector {
    constructor(arr: number[]) {}
    get(i: number): number { return undefined; }
    size(): number { return undefined; }
    delete(): void { return undefined; }
}

export class GcsSystemMock implements GcsSystem {
    constructor() {}
    {%- for func in fn_ts_bindings %}
    {{ func.fname }}({{ func.args }}): {{ func.return_type }} { return undefined; }
    {%- endfor %}
    delete(): void { return undefined; }
}