{% for constraint in fn_constraints %}
        void {{constraint.fname_lower}}({{ constraint.definition_params }}) {
            {{ constraint.fname }}({{ constraint.call_params }});
        }
{% endfor %}