{% for enum in enums %}
export const {{ enum.name | replace('::', '_') }} = {
    {% for val in enum.values -%}
    {{ val.name }}: {{ val.value }},
    {% endfor %}
} as const;
export type {{ enum.name | replace('::', '_') }} = {% for val in enum.values %}{{ val.value }}{% if not loop.last %} | {% endif %}{% endfor %};
{% endfor -%}