import type { 
    GcsSystem,IntVector,DoubleVector,GcsGeometry,
    {% for cls in geom_classes -%}
    {{ cls.name }},
    {%- endfor %}
    {% for enum in enums -%}
    {{ enum.name | replace('::', '_') }},
    {%- endfor %}
} from "./planegcs";

export class GcsGeometryMock implements GcsGeometry {
    delete(): void { return undefined; }
}

export class GcsSystemMock implements GcsSystem {
    {%- for func in fn_ts_bindings %}
    {{ func.fname }}({{ func.args }}): {{ func.return_type }} { return undefined; }
    {%- endfor %}
    delete(): void { return undefined; }
}